<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
    <li><a data-toggle="tab" href="#password">Change Password</a></li>
  </ul>

  <hr>

  <div class="tab-content">
    <div id="profile" class="tab-pane fade in active">
      <h3>Profile</h3>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username"
        disabled value={{username}}>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email"
        disabled value={{email}}>
      </div>

      <div class="form-group">
        <label for="login">Last Login</label>
        <input type="text" class="form-control" id="login" name="login"
        disabled value={{login_time}}>
      </div>

    </div>

    <div id="password" class="tab-pane fade">
      <h3>Change Password</h3>
      <div class="nav-form">
        <button type="button" class="btn btn-large btn-success" (click)="resetPassword()">Reset password via email</button>
      </div>
    </div>

  </div>
</div>
