<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- <div class="container"> -->
  <nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid" >
        <div class="text-center center-block">
            <span class="text-center "><strong> Horis Hu </strong></span>
            <br>
              <a href="http://www.linkedin.com/in/horis-hu" ><i id="social-li" class="fa fa-linkedin-square fa-3x social" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/jiaming.hu.714"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://github.com/horis233"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
        </div>
    </div>
  </nav>
<!-- </div> -->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
