
 .social {
     -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
     -o-transform: translateX(-100%);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
     color: #71ae3e;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-li:hover {
     color: #0077B5;
 }
 #social-gh:hover {
     color: #24292E;
 }
