<div class="container">
	<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<div class="jumbotron">
		  <div class="container">
			  <div class="row">
				  <div class="col-xs-12">
				  <h2>Code with Your Friends!</h2>

				  <h3>Project: Collaborative Online Code Judge System</h3>
				  <div class="row">
					  <div class="col-xs-1">
					  <p> <span class="glyphicon glyphicon-ok"></span></p>
					  </div>

					  <div class="col-xs-11">
					  <p>Code, build, and excute source codes here.</p>
					  </div>
				  </div>
				  <div class="row">
					  <div class="col-xs-1">
					  <p> <span class="glyphicon glyphicon-ok"></span></p>
					  </div>

					  <div class="col-xs-11">
					  <p>Practice and take coding challange.</p>
					  </div>
				  </div>

				  <div class="row">
					  <div class="col-xs-1">
					  <p> <span class="glyphicon glyphicon-ok"></span></p>
					  </div>

					  <div class="col-xs-11">
					  <p>Invite your friend or join your friends' room to code together.</p>
					  </div>
				  </div>
				  <h3>Implementation</h3>
				  <pre>
Frontend:
 - Angular 4, Bootstrap 3
Backend:
 - Framework: ExpressJS, Socket.io, Flask
 - Node.js, NginX, Docker
Database: MongoDB, Redis

Built on AWS EC2 (Ubuntu16.04 with Docker)</pre>
				  <a class="btn btn-lg" href="/problems" role="button">Try it</a>
				  </div>

			  </div>
		   </div>
		</div>
	</div>

</div>
